
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    position: relative;
    height: 100vh;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        width: 400px ;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        >div{
            width: 33.3%;
            height: 33.3%;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            cursor: pointer;
        }
    }
}
.win{
    position: absolute;
    top: 7%;
    left: 35%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}



.i-box {
    height: 160px;
    width: 160px;
    position: fixed;
    bottom: 19px;
    right: 19px;

    &:hover {
        >a {
            left: -40px;
        }
    }

    >a {
        position: absolute;
        left: 40px;
        text-decoration: none;
        transition: 1.5s;
        font-size: 30px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        padding-right: 30px;
        color: black;

        &:nth-of-type(1) {
            bottom: 10px;
        }

        &:nth-of-type(2) {
            bottom: 60px;
        }

        &:nth-of-type(3) {

            bottom: 110px;
        }
    }

    >div {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        &:first-of-type {
            background-color: #76e6e69d;
            border-radius: 60% 40% 57% 43% / 34% 59% 41% 66%;
            animation: anime2 infinite alternate 2s;
        }

        &:last-of-type {
            background-image: url(img/photo_2024-07-26_17-14-32.jpg);
            background-size: cover;
            border-radius: 30% 70% 32% 68% / 54% 37% 63% 46%;
            animation: anime1 infinite alternate 2s;
        }

    }
}

@keyframes anime1 {
    to {
        border-radius: 30% 70% 32% 68% / 54% 37% 63% 46%;
    }
}

@keyframes anime2 {
    to {

        border-radius: 52% 48% 49% 51% / 47% 52% 48% 53%;
    }
}